@keyframes pulsate {
    0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.about{
  position: relative;
  background-color: #0a2750;
  color: #FFF;
  height: 480px;
  overflow: hidden;
}
.about__title{
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 1;
}
.about__title-line{
  display: block;
}
.about__content{
  position: absolute;
  top: 119px;
  bottom: 173px;
  right: 80px;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__paragraph{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.about__circle{
  border-radius: 50%;
  background-color: #2F80ED;
  width: 430px;
  height: 430px;
  position: absolute;
  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred{
  animation: pulsate 1s ease-in-out infinite;
}