.header{
  background-color: #FFFFFF;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 750px;
  padding: 30px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header__logo{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.header__title{
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  position: relative;
  z-index: 1;
  margin: 202px 0 0 0;
}
.header__span-accent{
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  font-weight: normal;
  line-height: 72px;
  color: #2F80ED;
}
.header__description{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  max-width: 680px;
  margin: 28px 0 0 0;
}
.header__image{
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}
.header__info-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__hours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__paragraph{
  font-weight: 500;
  color: #838383;
  margin: 0;
}
